*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: Verdana;
    outline:none;
}
body{
    background-color: #fd93fd;
}
h1{
    padding : 15px 0px 0px 0px;
    margin:0 auto;
    text-align: center;
    color:beige;
}
.container{
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator{
    background-color: #ff7dff; 
    padding:15px;
    border-radius:30px;
    box-shadow: inset 5px 5px 5px 5px #be9898,
                      5px 5px 5px 5px #be9898;
    display:grid;
    grid-template-columns: repeat(6,80px);
}
input{
    grid-column: span 6;
    height: 70px;
    width:480px;
    background-color: #ffffff;
    box-shadow: inset -5px -5px 12px #ffffff,
                inset 5px 5px 12px rgba(0,0,0,.10);
    border:none;
    border-radius: 25px;
    color:rgb(114, 114, 114);
    font-size: 50px;
    text-align: end;
    margin: auto;
    margin-top: 40px;
    margin-bottom:30px;
    padding:20px;
}
button{
    height :50px;
    width: 50px;
    background-color: #ff7dff;
    box-shadow: inset -5px -5px 12px #ffffff,
                inset 5px 5px 12px rgba(0,0,0,.10);
    border:none;
    border-radius: 25%;
    margin:8px;
    font-size: 16px;
}
sup{
    background-color: #ff7dff;
}
.btn{
    background-color: #ff7dff;
    color:rgb(8, 8, 8)
}
.btn:hover{
    background-color: green;
    box-shadow: none;
    color:#ffffff;
}
.btn:active{
    background-color: green;
    color:#ffffff;
    box-shadow: 0 5px #666;
    transform: translateY(2px);
}
.ebtn:hover{
    background-color: #f352f3;
    box-shadow: none;
}
.ebtn:active{
    background-color:  #f352f3;
    box-shadow: 0 5px  #f352f3;
    transform: translateY(1px);
}